<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> <%= @vote.token %></h1>
    <p>
      The votes are being tallied:<br/>


    </p>
    <p>
     follow this link: <%= @url  %>
    </p>

<!-- link to this:  http://localhost:3000/events/105 -->
   
  </body>
</html>