<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3> <%= @vote.token %></h3>
    <p>
      The votes are being tallied:<br/>
    </p>
    <p>
    Check for updates at letdo.herokuapp.com/events/<%= @slug %>
    </p>
 
   
  </body>
</html>