<p>
<<<<<<< HEAD
  <b>Event Title:</b>
=======
  <b>Title:</b>
>>>>>>> 5fd6b470812f6d3ef51280a4a59e5ae87c08d483
  <%= @event.title %>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
<<<<<<< HEAD
</p>
=======
</p>
>>>>>>> 5fd6b470812f6d3ef51280a4a59e5ae87c08d483
