<<<<<<< HEAD
<p>
 
  <h2>Event: <%= @event.title %> <br></h2>
<h3>	 Description: <%= @event.description if @event.description? %></p></h3>
=======
 
  <h2>Event Name: <%= @event.title %> </h2>
  

  <h5><%= @event.description if @event.description? %></h5>
>>>>>>> NArnold

 
