/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		height: 1000px;
		background: #fff;
		font-family: "Open Sans", Avenir Roman, Calibri, Candara, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */

	h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 300;
  line-height: 20px;
  color: #080808;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #dfdfdf;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #000; border-width: 5px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

	h1 {
		margin-top: 20px; 
		color: #000; 
		text-align:center; 
		font-weight: 500;
	}


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li 
	li 
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	.background{
		background-image:url('sb10070135m-001.jpg');

	}

	img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #f4bd00;
	  -moz-border-radius: 2px;
	  -webkit-border-radius: 2px;
	  border-radius: 2px;
	  color: #fff;
	  display: inline-block;
	  font-weight: 300;
	  font-size: 24px;
	  text-decoration: none;
	  box-shadow:  0 5px 0px #f5a503;
	  cursor: pointer;
	  margin-top: 20px;
	  margin-bottom: 24px;
	  line-height: normal;
	  padding: 8px 20px;
	  border: none;
	  width: 100%;

  font-family: "Open Sans", Avenir Roman, Calibri, Candara, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #fff;
		background: #f4bd00;
		-webkit-transform: translateY(4px);
		-webkit-transition: all 0.1s ease-in-out;
		box-shadow:  0 0px 0px #f5a503;

	   }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background: #f5a503;
		-webkit-transform: translateY(4px);
		box-shadow: 0 0 0 #f5a503;
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}

	.action{
		font-size: 11px;
	}

	.landing{
		font-size: 24px;
	}

	.createEvent{
		background: #f5a503;
		box-shadow:  0 5px 0px #C98A08;
	}
	.createEvent:hover{
		background: #f5a503;
		-webkit-transform: translateY(2px);
		box-shadow: 0 3px 0px #C98A08; 
	}

	.createEvent:active{
		background: #f5a503;
		-webkit-transform: translateY(5px);
		box-shadow: 0 0 0 #C98A08;
	}



/* #Forms
================================================== */

	form {
		margin: 20px 0px;
		 }
	fieldset {
		margin-bottom: 20px; }
	select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="radio"],
.uneditable-input {
		padding: 8px 0px 8px 8px; 
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 16px "Open Sans", Avenir Roman, Calibri, Candara, Arial, sans-serif;
		font-weight: 300;
		margin: 8px 0px;
		width: 98%;
		display: inline; /* Changing to BLOCK will push everything to the next line */
		margin-bottom: 5px; /* Margin underneath input fields */
  		background-color: #ffffff;
  		border: 1px solid #bbbbbb;
  		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
}
	}
	select {
		padding: 0; }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
	    font-weight: 300;
		font-size: 18px; 
		padding-top: 20px; 
		padding-left: 8px;
	}

	select {
		width: 100%; display: inline;}
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
  		font-weight: 300;
		font-size: 18px;
		color: #444; }


/* #Alerts
================================================== */

.alert {
  padding: 8px 8px 8px 8px;
  margin-bottom: 20px;
  background-color: #ff7518;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
}

.alert,
.alert h4 {
  color: #ffffff;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #ffffff;
  background-color: #3fb618;
  border-color: transparent;
}

.alert-success h4 {
  color: #ffffff;
}

.alert-danger,
.alert-error {
  color: #ffffff;
  background-color: #ff0039;
  border-color: transparent;
}

.alert-danger h4,
.alert-error h4 {
  color: #ffffff;
}

.alert-info {
  color: #ffffff;
  background-color: #9954bb;
  border-color: transparent;
}

.alert-info h4 {
  color: #ffffff;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


.background{
	padding-top: 20px;
	padding-bottom: 40px;
	background-image: url(bg-04.jpg);
	background-size: cover;
	background-image: no-repeat;
	height: 100%;
	width: 100%;
	
}

.foreground{
	background-color: rgba(255,255,255, .9);
	margin: auto;
	border: black;
	border-radius: 2px;
	padding: 50px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 2px 5px rgba(0,0,0, .2);

}

.header {
    display: block;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 5px 8px;
    padding-left: 25px;
    color: #333;
    box-shadow: 
        inset 0 5px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
    margin-bottom: 10px;    
}
 

.eventBlock{
	background-color: white;
	border: black;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 
        inset 0 5px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
	margin: 10px;
}

.logo{
	width: 75%;
	margin: auto;
}

.tagline{

	background-color: none;
	padding: 12px 0px;
	color: #36b1bf;
	text-align: center;
	letter-spacing: .5px;
	font-weight: 500;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.plus{
	background-color:#f2385a;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	padding:1%;
	font-size: 2em;
	font-color: #fff;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.et-times input {
	float: left;
	width: auto;
	}
.time-display {
	margin: 5px;
	position: relative;
	top:  8px;
	color:	;
	}

.locField, .Timefield {
	width: 100%;
	padding: 0 25%;
}


@media only screen and (max-width: 500px) {	

	.foreground{
		padding: 40px;
		margin: 0px auto;
	}

	.background{
		background-image: none;
		background-color: gray;
	}

	.tagline{
		font-size: .9em;
		padding: 1%;
	}

}

@media only screen and (min-width: 501px) {	
	.foreground{
		max-width: 450px;
		padding: 40px;
		margin: 0px auto;
	}
}	

@media only screen and (min-width: 600px) {	
	.foreground{
		max-width: 450px;
		padding: 40px;
		margin: auto;
	}
}




