<%= render 'events/details' %>

<h2>Vote on a Time and Location below</h2>

  <%= render 'form' %>

 
<br>

<h2><b>Copy and past the link below to have others vote on this event
<br></h2>


http://letdo.herokuapp.com<%=new_vote_path(event_id: @event.id) %>
<!-- #should we have the link read something else instead, like vote on (Event) now! -->

<br>
 

 

  <!-- @vote.event_time_id  was in ruby-->
  <!-- link_to 'Back', votes_path was in ruby -->
