<h2>Select The Time from the options below</h2>


  <%= render 'form' %>

<h2>Select The Location from the options below</h2>
  <!-- @vote.event_time_id  was in ruby-->
  <!-- link_to 'Back', votes_path was in ruby -->

