<h1>New vote</h1>


  <!-- render 'form'   -->
 

Vote Ballot

Title
Description

Location options 1-4

Time options 1-4 with radio buttons

<%= %>

  <!-- @vote.event_time_id  was in ruby-->
  <!-- link_to 'Back', votes_path was in ruby -->
  